/* Reset*/
body {
    margin: 0;
    
    }
    
    /* Main Reset
   ========================================================================== */
/**
* Hace que los todos elementos del documento se calculen usando la propiedad box-sizing: border-box;
*/
* {
    box-sizing: border-box;
    margin: 0;
   
  }
  
  /**
  * Previene el desbordamiento de las imágenes del documento
  */
  

    