@media only screen and (min-width: 600px) {
    .contenido__lista {
        max-width: 100%;
    }

    .contenido__listado-izquierdo {
        max-width: 100%;
        float: right;
    }
    .header{display: flex;}
}

@media only screen and (min-width: 992px) {
    .contenido__lista {
        max-width: 70%;
    }

    .contenido__listado-izquierdo {
        max-width: 30%;
        float: right;
        padding: 5px;
    }
    .header{display: flex;}
}

@media only screen and (max-width: 320px) {
    .contenido__lista {
        max-width: 100%;
    }

    .contenido__listado-izquierdo {
        max-width: 100%;
        float: none;
    }
    .header{display: grid;}
   
}